---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro'
import SliderFates from '../../components/SliderFates.astro'

export async function getStaticPaths () {
  
  const pages = [
      {
        slug: "Huacachina",
        title: 'Full Day Huacachina',
        name: 'Huacachina',
        image1: 'https://www.peru.travel/Contenido/General/Imagen/es/24/1.1/huacachina.jpg',
        image2: "https://backiee.com/static/wpdb/wallpapers/1920x1080/267116.jpg",
        image3: 'https://www.tours-machupicchu-peru.com/wp-content/uploads/2021/11/Huacachina-Oasis.jpg',
        image4: 'https://farm4.staticflickr.com/3863/15181754062_7186c7e446_o.jpg'
      },
      {
        slug: "Mullaks",
        title: "Full Day Mullak's",
        name: "Mullak's",
        image1: 'https://www.peru.travel/Contenido/General/Imagen/es/24/1.1/huacachina.jpg',
        image2: "https://backiee.com/static/wpdb/wallpapers/1920x1080/267116.jpg",
        image3: 'https://www.tours-machupicchu-peru.com/wp-content/uploads/2021/11/Huacachina-Oasis.jpg',
        image4: 'https://farm4.staticflickr.com/3863/15181754062_7186c7e446_o.jpg'
      },
      {
        slug: "Colca",
        title: 'Full Day Colca',
        name: 'Colca',
        image1: 'https://www.peru.travel/Contenido/General/Imagen/es/24/1.1/huacachina.jpg',
        image2: "https://backiee.com/static/wpdb/wallpapers/1920x1080/267116.jpg",
        image3: 'https://www.tours-machupicchu-peru.com/wp-content/uploads/2021/11/Huacachina-Oasis.jpg',
        image4: 'https://farm4.staticflickr.com/3863/15181754062_7186c7e446_o.jpg'
      }, 
      {
        slug: "Paracas",
        title: 'Full Day Paracas',
        name: 'Paracas',
        image1: 'https://www.peru.travel/Contenido/General/Imagen/es/24/1.1/huacachina.jpg',
        image2: "https://backiee.com/static/wpdb/wallpapers/1920x1080/267116.jpg",
        image3: 'https://www.tours-machupicchu-peru.com/wp-content/uploads/2021/11/Huacachina-Oasis.jpg',
        image4: 'https://farm4.staticflickr.com/3863/15181754062_7186c7e446_o.jpg'
      },
      {
        slug: "Nazca",
        title: 'Full Day Nazca',
        name: 'Nazca',
        image1: 'https://www.peru.travel/Contenido/General/Imagen/es/24/1.1/huacachina.jpg',
        image2: "https://backiee.com/static/wpdb/wallpapers/1920x1080/267116.jpg",
        image3: 'https://www.tours-machupicchu-peru.com/wp-content/uploads/2021/11/Huacachina-Oasis.jpg',
        image4: 'https://farm4.staticflickr.com/3863/15181754062_7186c7e446_o.jpg'
      },
      {
        slug: "Antioquia",
        title: 'Full Day Antioquía',
        name: 'Antioquía',
        image1: 'https://www.peru.travel/Contenido/General/Imagen/es/24/1.1/huacachina.jpg',
        image2: "https://backiee.com/static/wpdb/wallpapers/1920x1080/267116.jpg",
        image3: 'https://www.tours-machupicchu-peru.com/wp-content/uploads/2021/11/Huacachina-Oasis.jpg',
        image4: 'https://farm4.staticflickr.com/3863/15181754062_7186c7e446_o.jpg'
      },
      {
        slug: "Cordillera-de-la-Viuda",
        title: 'Full Day Cordillera de la Viuda',
        name: 'Cordillera de la Viuda',
        image1: 'https://www.peru.travel/Contenido/General/Imagen/es/24/1.1/huacachina.jpg',
        image2: "https://backiee.com/static/wpdb/wallpapers/1920x1080/267116.jpg",
        image3: 'https://www.tours-machupicchu-peru.com/wp-content/uploads/2021/11/Huacachina-Oasis.jpg',
        image4: 'https://farm4.staticflickr.com/3863/15181754062_7186c7e446_o.jpg'
      },    
    ];
    return pages.map(({ slug, title, name, image1, image2,image3,image4 }) => {
    return {
      params: { slug },
      props: { name, title, image1, image2,image3,image4 },
    };
  });
}

const { name, title, image1, image2,image3,image4  } = Astro.props;
---
<Layout title={title}>
  <SliderFates image1={image1} image2={image2} image3={image3} image4={image4} />
  <h1>Bienvenido a {name}</h1>
</Layout>

